.container{

    /*margin-top: 15px ;*/

    margin-bottom:15px;

    /*padding:5px 0 5px 0;*/

}

.bg-primary {

  background-color: #030A8C !important;

}

.menu-background {

  background-color: #030A8C;

}